USE [master]
GO
/****** Object:  Database [han33198_hanaka]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE DATABASE [han33198_hanaka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'han33198_hanaka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\han33198_hanaka.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'han33198_hanaka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\han33198_hanaka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [han33198_hanaka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [han33198_hanaka]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[BannerId] [bigint] IDENTITY(1,1) NOT NULL,
	[BannerKey] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BannerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClubMembers]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubMembers](
	[ClubId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[MemberRole] [varchar](30) NOT NULL,
	[JoinedAt] [datetime2](0) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ClubMembers] PRIMARY KEY CLUSTERED 
(
	[ClubId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClubMessages]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubMessages](
	[MessageId] [bigint] IDENTITY(1,1) NOT NULL,
	[ClubId] [bigint] NOT NULL,
	[SenderUserId] [bigint] NOT NULL,
	[MessageType] [varchar](20) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[MediaUrl] [nvarchar](500) NULL,
	[ReplyToId] [bigint] NULL,
	[SentAt] [datetime2](0) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clubs]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clubs](
	[ClubId] [bigint] IDENTITY(1,1) NOT NULL,
	[ExternalId] [nvarchar](50) NULL,
	[ClubName] [nvarchar](200) NOT NULL,
	[AreaText] [nvarchar](200) NULL,
	[CoverUrl] [nvarchar](500) NULL,
	[RatingAvg] [decimal](3, 2) NOT NULL,
	[ReviewsCount] [int] NOT NULL,
	[MatchesPlayed] [int] NOT NULL,
	[MatchesWin] [int] NOT NULL,
	[MatchesDraw] [int] NOT NULL,
	[MatchesLoss] [int] NOT NULL,
	[OwId] [bigint] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[AllowChallenge] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClubId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coaches]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coaches](
	[CoachId] [bigint] IDENTITY(1,1) NOT NULL,
	[ExternalId] [nvarchar](50) NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[City] [nvarchar](100) NULL,
	[Verified] [bit] NOT NULL,
	[LevelSingle] [decimal](4, 2) NOT NULL,
	[LevelDouble] [decimal](4, 2) NOT NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[CoachType] [varchar](20) NOT NULL,
	[Introduction] [nvarchar](max) NULL,
	[TeachingArea] [nvarchar](max) NULL,
	[Achievements] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CoachId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourtImages]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourtImages](
	[CourtImageId] [bigint] IDENTITY(1,1) NOT NULL,
	[CourtId] [bigint] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourtImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courts]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courts](
	[CourtId] [bigint] IDENTITY(1,1) NOT NULL,
	[ExternalId] [nvarchar](50) NULL,
	[CourtName] [nvarchar](200) NOT NULL,
	[AreaText] [nvarchar](200) NULL,
	[ManagerName] [nvarchar](150) NULL,
	[Phone] [nvarchar](30) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exchanges]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exchanges](
	[ExchangeId] [bigint] IDENTITY(1,1) NOT NULL,
	[ExternalId] [nvarchar](50) NULL,
	[LeftClubName] [nvarchar](200) NOT NULL,
	[LeftLogoUrl] [nvarchar](500) NULL,
	[LeftW] [int] NOT NULL,
	[LeftL] [int] NOT NULL,
	[LeftD] [int] NOT NULL,
	[RightClubName] [nvarchar](200) NOT NULL,
	[RightLogoUrl] [nvarchar](500) NULL,
	[ScoreText] [nvarchar](50) NULL,
	[TimeTextRaw] [nvarchar](30) NULL,
	[MatchTime] [datetime2](0) NULL,
	[AgoText] [nvarchar](50) NULL,
	[LocationText] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExchangeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Links]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Links](
	[LinkId] [bigint] IDENTITY(1,1) NOT NULL,
	[Link] [nvarchar](1000) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModerationReports]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModerationReports](
	[ReportId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReporterUserId] [bigint] NOT NULL,
	[TargetUserId] [bigint] NULL,
	[ClubId] [bigint] NULL,
	[MessageId] [bigint] NULL,
	[ReportType] [varchar](20) NOT NULL,
	[ReasonCode] [varchar](30) NOT NULL,
	[ReasonLabel] [nvarchar](150) NULL,
	[Notes] [nvarchar](1000) NULL,
	[MessageContentSnapshot] [nvarchar](max) NULL,
	[ReporterNameSnapshot] [nvarchar](150) NULL,
	[TargetNameSnapshot] [nvarchar](150) NULL,
	[Source] [varchar](30) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[DeveloperNotified] [bit] NOT NULL,
	[DeveloperNotifiedAt] [datetime2](0) NULL,
	[ReviewedByUserId] [bigint] NULL,
	[ReviewedByName] [nvarchar](150) NULL,
	[ReviewedAt] [datetime2](0) NULL,
	[ResolutionAction] [varchar](30) NOT NULL,
	[ResolutionNote] [nvarchar](1000) NULL,
	[ResolvedAt] [datetime2](0) NULL,
	[SlaDueAt] [datetime2](0) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ModerationReports] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referees]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referees](
	[RefereeId] [bigint] IDENTITY(1,1) NOT NULL,
	[ExternalId] [nvarchar](50) NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[City] [nvarchar](100) NULL,
	[Verified] [bit] NOT NULL,
	[LevelSingle] [decimal](4, 2) NOT NULL,
	[LevelDouble] [decimal](4, 2) NOT NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[RefereeType] [varchar](20) NOT NULL,
	[Introduction] [nvarchar](max) NULL,
	[WorkingArea] [nvarchar](max) NULL,
	[Achievements] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_Referees] PRIMARY KEY CLUSTERED 
(
	[RefereeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [varchar](50) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentGroupMatches]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentGroupMatches](
	[MatchId] [bigint] IDENTITY(1,1) NOT NULL,
	[TournamentRoundGroupId] [bigint] NOT NULL,
	[TournamentId] [bigint] NOT NULL,
	[Team1RegistrationId] [bigint] NOT NULL,
	[Team2RegistrationId] [bigint] NOT NULL,
	[StartAt] [datetime2](0) NULL,
	[AddressText] [nvarchar](400) NULL,
	[CourtText] [nvarchar](100) NULL,
	[ScoreTeam1] [int] NOT NULL,
	[ScoreTeam2] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[WinnerRegistrationId] [bigint] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[TeamMin]  AS (case when [Team1RegistrationId]<[Team2RegistrationId] then [Team1RegistrationId] else [Team2RegistrationId] end) PERSISTED NOT NULL,
	[TeamMax]  AS (case when [Team1RegistrationId]>[Team2RegistrationId] then [Team1RegistrationId] else [Team2RegistrationId] end) PERSISTED NOT NULL,
	[VideoUrl] [nvarchar](1000) NULL,
	[RefereeUserId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentMatchScoreHistories]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentMatchScoreHistories](
	[ScoreHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[MatchId] [bigint] NOT NULL,
	[RefereeUserId] [bigint] NOT NULL,
	[ScoreTeam1] [int] NOT NULL,
	[ScoreTeam2] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[WinnerRegistrationId] [bigint] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScoreHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentPairRequests]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentPairRequests](
	[PairRequestId] [bigint] IDENTITY(1,1) NOT NULL,
	[TournamentId] [bigint] NOT NULL,
	[RequestedByUserId] [bigint] NOT NULL,
	[RequestedToUserId] [bigint] NOT NULL,
	[RegistrationId] [bigint] NULL,
	[Status] [varchar](20) NOT NULL,
	[RequestedAt] [datetime2](0) NOT NULL,
	[RespondedAt] [datetime2](0) NULL,
	[ExpiresAt] [datetime2](0) NULL,
	[ResponseNote] [nvarchar](500) NULL,
 CONSTRAINT [PK_TournamentPairRequests] PRIMARY KEY CLUSTERED 
(
	[PairRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentPrizes]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentPrizes](
	[TournamentPrizeId] [bigint] IDENTITY(1,1) NOT NULL,
	[TournamentId] [bigint] NOT NULL,
	[RegistrationId] [bigint] NULL,
	[PrizeType] [varchar](20) NOT NULL,
	[PrizeOrder] [int] NOT NULL,
	[IsConfirmed] [bit] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_TournamentPrizes] PRIMARY KEY CLUSTERED 
(
	[TournamentPrizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentRegistrations]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentRegistrations](
	[RegistrationId] [bigint] IDENTITY(1,1) NOT NULL,
	[TournamentId] [bigint] NOT NULL,
	[ExternalId] [nvarchar](50) NULL,
	[RegIndex] [int] NOT NULL,
	[RegCode] [nvarchar](50) NOT NULL,
	[RegTimeRaw] [nvarchar](30) NULL,
	[RegTime] [datetime2](0) NULL,
	[Player1Name] [nvarchar](150) NOT NULL,
	[Player1Avatar] [nvarchar](500) NULL,
	[Player1Level] [decimal](4, 2) NOT NULL,
	[Player1Verified] [bit] NOT NULL,
	[Player1UserId] [bigint] NULL,
	[Player2Name] [nvarchar](150) NULL,
	[Player2Avatar] [nvarchar](500) NULL,
	[Player2Level] [decimal](4, 2) NOT NULL,
	[Player2Verified] [bit] NOT NULL,
	[Player2UserId] [bigint] NULL,
	[Points] [decimal](6, 2) NOT NULL,
	[BtCode] [nvarchar](50) NULL,
	[Paid] [bit] NOT NULL,
	[WaitingPair] [bit] NOT NULL,
	[Success] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentRoundGroups]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentRoundGroups](
	[TournamentRoundGroupId] [bigint] IDENTITY(1,1) NOT NULL,
	[TournamentRoundMapId] [bigint] NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TournamentRoundGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentRoundMaps]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentRoundMaps](
	[TournamentRoundMapId] [bigint] IDENTITY(1,1) NOT NULL,
	[TournamentId] [bigint] NOT NULL,
	[RoundKey] [nvarchar](20) NOT NULL,
	[RoundLabel] [nvarchar](50) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TournamentRoundMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentRounds]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentRounds](
	[RoundKey] [nvarchar](20) NOT NULL,
	[RoundLabel] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TournamentRounds] PRIMARY KEY CLUSTERED 
(
	[RoundKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournaments]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournaments](
	[TournamentId] [bigint] IDENTITY(1,1) NOT NULL,
	[ExternalId] [nvarchar](50) NULL,
	[Status] [varchar](20) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[BannerUrl] [nvarchar](500) NULL,
	[StartTimeRaw] [nvarchar](30) NULL,
	[StartTime] [datetime2](0) NULL,
	[RegisterDeadlineRaw] [nvarchar](30) NULL,
	[RegisterDeadline] [datetime2](0) NULL,
	[FormatText] [nvarchar](50) NULL,
	[PlayoffType] [nvarchar](50) NULL,
	[GameType] [nvarchar](50) NULL,
	[SingleLimit] [decimal](4, 2) NOT NULL,
	[DoubleLimit] [decimal](4, 2) NOT NULL,
	[LocationText] [nvarchar](400) NULL,
	[AreaText] [nvarchar](200) NULL,
	[ExpectedTeams] [int] NOT NULL,
	[MatchesCount] [int] NOT NULL,
	[StatusText] [nvarchar](50) NULL,
	[StateText] [nvarchar](50) NULL,
	[Organizer] [nvarchar](200) NULL,
	[CreatorName] [nvarchar](150) NULL,
	[RegisteredCount] [int] NOT NULL,
	[PairedCount] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[TournamentRule] [nvarchar](max) NULL,
	[GenderCategory] [varchar](10) NOT NULL,
	[Remove] [bit] NOT NULL,
	[ZaloLink] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAchievements]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAchievements](
	[UserAchievementId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[TournamentId] [bigint] NOT NULL,
	[AchievementType] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserAchievementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBlocks]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBlocks](
	[BlockId] [bigint] IDENTITY(1,1) NOT NULL,
	[BlockerUserId] [bigint] NOT NULL,
	[BlockedUserId] [bigint] NOT NULL,
	[SourceClubId] [bigint] NULL,
	[SourceMessageId] [bigint] NULL,
	[ReportId] [bigint] NULL,
	[ReasonCode] [varchar](30) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[Source] [varchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[BlockedAt] [datetime2](0) NOT NULL,
	[UnblockedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_UserBlocks] PRIMARY KEY CLUSTERED 
(
	[BlockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotifications]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotifications](
	[NotificationId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[NotificationType] [varchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Body] [nvarchar](1000) NOT NULL,
	[RefType] [varchar](30) NULL,
	[RefId] [bigint] NULL,
	[IsRead] [bit] NOT NULL,
	[ReadAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[PayloadJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserNotifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOtp]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOtp](
	[user_otp_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[otp_code] [nvarchar](10) NOT NULL,
	[expired_at] [datetime] NOT NULL,
	[is_used] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[used_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_otp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRatingHistory]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRatingHistory](
	[RatingHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[RatingSingle] [decimal](18, 2) NULL,
	[RatingDouble] [decimal](18, 2) NULL,
	[RatedByUserId] [bigint] NULL,
	[Note] [nvarchar](500) NULL,
	[RatedAt] [datetime] NOT NULL,
	[TournamentId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [bigint] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/28/2026 4:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[ExternalId] [nvarchar](50) NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[City] [nvarchar](100) NULL,
	[Gender] [nvarchar](20) NULL,
	[Verified] [bit] NOT NULL,
	[RatingSingle] [decimal](4, 2) NULL,
	[RatingDouble] [decimal](4, 2) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](200) NULL,
	[PasswordHash] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[Bio] [nvarchar](max) NULL,
	[BirthOfDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ClubMembers_UserId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClubMembers_UserId] ON [dbo].[ClubMembers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClubMessages_Club_SentAt]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClubMessages_Club_SentAt] ON [dbo].[ClubMessages]
(
	[ClubId] ASC,
	[SentAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClubMessages_Sender]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClubMessages_Sender] ON [dbo].[ClubMessages]
(
	[SenderUserId] ASC,
	[SentAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clubs_ExternalId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Clubs_ExternalId] ON [dbo].[Clubs]
(
	[ExternalId] ASC
)
WHERE ([ExternalId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clubs_OwId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Clubs_OwId] ON [dbo].[Clubs]
(
	[OwId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Coaches_ExternalId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Coaches_ExternalId] ON [dbo].[Coaches]
(
	[ExternalId] ASC
)
WHERE ([ExternalId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourtImages_CourtId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_CourtImages_CourtId] ON [dbo].[CourtImages]
(
	[CourtId] ASC,
	[SortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Courts_ExternalId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Courts_ExternalId] ON [dbo].[Courts]
(
	[ExternalId] ASC
)
WHERE ([ExternalId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Exchanges_ExternalId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Exchanges_ExternalId] ON [dbo].[Exchanges]
(
	[ExternalId] ASC
)
WHERE ([ExternalId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModerationReports_ClubId_CreatedAt]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ModerationReports_ClubId_CreatedAt] ON [dbo].[ModerationReports]
(
	[ClubId] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModerationReports_MessageId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ModerationReports_MessageId] ON [dbo].[ModerationReports]
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModerationReports_ReporterUserId_CreatedAt]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ModerationReports_ReporterUserId_CreatedAt] ON [dbo].[ModerationReports]
(
	[ReporterUserId] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ModerationReports_Status_CreatedAt]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ModerationReports_Status_CreatedAt] ON [dbo].[ModerationReports]
(
	[Status] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModerationReports_TargetUserId_CreatedAt]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ModerationReports_TargetUserId_CreatedAt] ON [dbo].[ModerationReports]
(
	[TargetUserId] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Referees_City]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Referees_City] ON [dbo].[Referees]
(
	[City] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Referees_ExternalId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Referees_ExternalId] ON [dbo].[Referees]
(
	[ExternalId] ASC
)
WHERE ([ExternalId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TGM_Group_StartAt]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TGM_Group_StartAt] ON [dbo].[TournamentGroupMatches]
(
	[TournamentRoundGroupId] ASC,
	[StartAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TGM_RefereeUserId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TGM_RefereeUserId] ON [dbo].[TournamentGroupMatches]
(
	[RefereeUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TGM_Team1]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TGM_Team1] ON [dbo].[TournamentGroupMatches]
(
	[Team1RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TGM_Team2]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TGM_Team2] ON [dbo].[TournamentGroupMatches]
(
	[Team2RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TGM_Tournament]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TGM_Tournament] ON [dbo].[TournamentGroupMatches]
(
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [UX_TGM_Group_TeamPair]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TGM_Group_TeamPair] ON [dbo].[TournamentGroupMatches]
(
	[TournamentRoundGroupId] ASC,
	[TeamMin] ASC,
	[TeamMax] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TMSH_Match_CreatedAt]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TMSH_Match_CreatedAt] ON [dbo].[TournamentMatchScoreHistories]
(
	[MatchId] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TMSH_MatchId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TMSH_MatchId] ON [dbo].[TournamentMatchScoreHistories]
(
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TMSH_RefereeUserId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TMSH_RefereeUserId] ON [dbo].[TournamentMatchScoreHistories]
(
	[RefereeUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TournamentPairRequests_Target_Status_RequestedAt]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TournamentPairRequests_Target_Status_RequestedAt] ON [dbo].[TournamentPairRequests]
(
	[RequestedToUserId] ASC,
	[Status] ASC,
	[RequestedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TournamentPairRequests_PendingPair]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TournamentPairRequests_PendingPair] ON [dbo].[TournamentPairRequests]
(
	[TournamentId] ASC,
	[RequestedByUserId] ASC,
	[RequestedToUserId] ASC
)
WHERE ([Status]='PENDING')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TournamentPrizes_RegistrationId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TournamentPrizes_RegistrationId] ON [dbo].[TournamentPrizes]
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TournamentPrizes_TournamentId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TournamentPrizes_TournamentId] ON [dbo].[TournamentPrizes]
(
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_TournamentPrizes_Tournament_PrizeType_PrizeOrder]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TournamentPrizes_Tournament_PrizeType_PrizeOrder] ON [dbo].[TournamentPrizes]
(
	[TournamentId] ASC,
	[PrizeType] ASC,
	[PrizeOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TournamentPrizes_Tournament_Registration]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TournamentPrizes_Tournament_Registration] ON [dbo].[TournamentPrizes]
(
	[TournamentId] ASC,
	[RegistrationId] ASC
)
WHERE ([RegistrationId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TournamentRegistrations_RegCode]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TournamentRegistrations_RegCode] ON [dbo].[TournamentRegistrations]
(
	[RegCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TournamentRegistrations_Tournament]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TournamentRegistrations_Tournament] ON [dbo].[TournamentRegistrations]
(
	[TournamentId] ASC,
	[RegIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TRG_RoundMap]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TRG_RoundMap] ON [dbo].[TournamentRoundGroups]
(
	[TournamentRoundMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_TRG_RoundMap_GroupName]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TRG_RoundMap_GroupName] ON [dbo].[TournamentRoundGroups]
(
	[TournamentRoundMapId] ASC,
	[GroupName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TRM_Tournament]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_TRM_Tournament] ON [dbo].[TournamentRoundMaps]
(
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_TRM_Tournament_RoundKey]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TRM_Tournament_RoundKey] ON [dbo].[TournamentRoundMaps]
(
	[TournamentId] ASC,
	[RoundKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tournaments_ExternalId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Tournaments_ExternalId] ON [dbo].[Tournaments]
(
	[ExternalId] ASC
)
WHERE ([ExternalId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tournaments_Status]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tournaments_Status] ON [dbo].[Tournaments]
(
	[Status] ASC,
	[StartTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAchievements_TournamentId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserAchievements_TournamentId] ON [dbo].[UserAchievements]
(
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAchievements_UserId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserAchievements_UserId] ON [dbo].[UserAchievements]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserBlocks_BlockedUserId_IsActive]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserBlocks_BlockedUserId_IsActive] ON [dbo].[UserBlocks]
(
	[BlockedUserId] ASC,
	[IsActive] ASC,
	[BlockedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserBlocks_BlockerUserId_IsActive]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserBlocks_BlockerUserId_IsActive] ON [dbo].[UserBlocks]
(
	[BlockerUserId] ASC,
	[IsActive] ASC,
	[BlockedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_UserBlocks_ActivePair]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_UserBlocks_ActivePair] ON [dbo].[UserBlocks]
(
	[BlockerUserId] ASC,
	[BlockedUserId] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserNotifications_User_IsRead_CreatedAt]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserNotifications_User_IsRead_CreatedAt] ON [dbo].[UserNotifications]
(
	[UserId] ASC,
	[IsRead] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserOtp_UserId_Email_IsUsed]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserOtp_UserId_Email_IsUsed] ON [dbo].[UserOtp]
(
	[user_id] ASC,
	[email] ASC,
	[is_used] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRatingHistories_TournamentId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserRatingHistories_TournamentId] ON [dbo].[UserRatingHistory]
(
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRatingHistory_RatedByUserId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserRatingHistory_RatedByUserId] ON [dbo].[UserRatingHistory]
(
	[RatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRatingHistory_UserId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserRatingHistory_UserId] ON [dbo].[UserRatingHistory]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_City]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_City] ON [dbo].[Users]
(
	[City] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_ExternalId]    Script Date: 5/28/2026 4:52:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_ExternalId] ON [dbo].[Users]
(
	[ExternalId] ASC
)
WHERE ([ExternalId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Banners] ADD  CONSTRAINT [DF_Banners_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Banners] ADD  CONSTRAINT [DF_Banners_Sort]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ClubMembers] ADD  CONSTRAINT [DF_ClubMembers_MemberRole]  DEFAULT ('MEMBER') FOR [MemberRole]
GO
ALTER TABLE [dbo].[ClubMembers] ADD  CONSTRAINT [DF_ClubMembers_JoinedAt]  DEFAULT (sysdatetime()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[ClubMembers] ADD  CONSTRAINT [DF_ClubMembers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClubMessages] ADD  CONSTRAINT [DF_ClubMessages_Type]  DEFAULT ('TEXT') FOR [MessageType]
GO
ALTER TABLE [dbo].[ClubMessages] ADD  CONSTRAINT [DF_ClubMessages_SentAt]  DEFAULT (sysdatetime()) FOR [SentAt]
GO
ALTER TABLE [dbo].[ClubMessages] ADD  CONSTRAINT [DF_ClubMessages_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Clubs] ADD  CONSTRAINT [DF_Clubs_RatingAvg]  DEFAULT ((0)) FOR [RatingAvg]
GO
ALTER TABLE [dbo].[Clubs] ADD  CONSTRAINT [DF_Clubs_ReviewsCount]  DEFAULT ((0)) FOR [ReviewsCount]
GO
ALTER TABLE [dbo].[Clubs] ADD  CONSTRAINT [DF_Clubs_MatchesPlayed]  DEFAULT ((0)) FOR [MatchesPlayed]
GO
ALTER TABLE [dbo].[Clubs] ADD  CONSTRAINT [DF_Clubs_MatchesWin]  DEFAULT ((0)) FOR [MatchesWin]
GO
ALTER TABLE [dbo].[Clubs] ADD  CONSTRAINT [DF_Clubs_MatchesDraw]  DEFAULT ((0)) FOR [MatchesDraw]
GO
ALTER TABLE [dbo].[Clubs] ADD  CONSTRAINT [DF_Clubs_MatchesLoss]  DEFAULT ((0)) FOR [MatchesLoss]
GO
ALTER TABLE [dbo].[Clubs] ADD  CONSTRAINT [DF_Clubs_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Clubs] ADD  CONSTRAINT [DF_Clubs_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Clubs] ADD  CONSTRAINT [DF_Clubs_AllowChallenge]  DEFAULT ((0)) FOR [AllowChallenge]
GO
ALTER TABLE [dbo].[Coaches] ADD  CONSTRAINT [DF_Coaches_Verified]  DEFAULT ((0)) FOR [Verified]
GO
ALTER TABLE [dbo].[Coaches] ADD  CONSTRAINT [DF_Coaches_LevelSingle]  DEFAULT ((0)) FOR [LevelSingle]
GO
ALTER TABLE [dbo].[Coaches] ADD  CONSTRAINT [DF_Coaches_LevelDouble]  DEFAULT ((0)) FOR [LevelDouble]
GO
ALTER TABLE [dbo].[Coaches] ADD  CONSTRAINT [DF_Coaches_Type]  DEFAULT ('COACH') FOR [CoachType]
GO
ALTER TABLE [dbo].[CourtImages] ADD  CONSTRAINT [DF_CourtImages_Sort]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Courts] ADD  CONSTRAINT [DF_Courts_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Exchanges] ADD  CONSTRAINT [DF_Ex_LW]  DEFAULT ((0)) FOR [LeftW]
GO
ALTER TABLE [dbo].[Exchanges] ADD  CONSTRAINT [DF_Ex_LL]  DEFAULT ((0)) FOR [LeftL]
GO
ALTER TABLE [dbo].[Exchanges] ADD  CONSTRAINT [DF_Ex_LD]  DEFAULT ((0)) FOR [LeftD]
GO
ALTER TABLE [dbo].[Exchanges] ADD  CONSTRAINT [DF_Ex_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ModerationReports] ADD  CONSTRAINT [DF_ModerationReports_Source]  DEFAULT ('CHAT') FOR [Source]
GO
ALTER TABLE [dbo].[ModerationReports] ADD  CONSTRAINT [DF_ModerationReports_Status]  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[ModerationReports] ADD  CONSTRAINT [DF_ModerationReports_DeveloperNotified]  DEFAULT ((0)) FOR [DeveloperNotified]
GO
ALTER TABLE [dbo].[ModerationReports] ADD  CONSTRAINT [DF_ModerationReports_ResolutionAction]  DEFAULT ('NONE') FOR [ResolutionAction]
GO
ALTER TABLE [dbo].[ModerationReports] ADD  CONSTRAINT [DF_ModerationReports_SlaDueAt]  DEFAULT (dateadd(hour,(24),sysdatetime())) FOR [SlaDueAt]
GO
ALTER TABLE [dbo].[ModerationReports] ADD  CONSTRAINT [DF_ModerationReports_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Referees] ADD  CONSTRAINT [DF_Referees_Verified]  DEFAULT ((0)) FOR [Verified]
GO
ALTER TABLE [dbo].[Referees] ADD  CONSTRAINT [DF_Referees_RefereeType]  DEFAULT ('REFEREE') FOR [RefereeType]
GO
ALTER TABLE [dbo].[Referees] ADD  CONSTRAINT [DF_Referees_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TournamentGroupMatches] ADD  DEFAULT ((0)) FOR [ScoreTeam1]
GO
ALTER TABLE [dbo].[TournamentGroupMatches] ADD  DEFAULT ((0)) FOR [ScoreTeam2]
GO
ALTER TABLE [dbo].[TournamentGroupMatches] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[TournamentGroupMatches] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TournamentMatchScoreHistories] ADD  CONSTRAINT [DF_TMSH_ScoreTeam1]  DEFAULT ((0)) FOR [ScoreTeam1]
GO
ALTER TABLE [dbo].[TournamentMatchScoreHistories] ADD  CONSTRAINT [DF_TMSH_ScoreTeam2]  DEFAULT ((0)) FOR [ScoreTeam2]
GO
ALTER TABLE [dbo].[TournamentMatchScoreHistories] ADD  CONSTRAINT [DF_TMSH_IsCompleted]  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[TournamentMatchScoreHistories] ADD  CONSTRAINT [DF_TMSH_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TournamentPairRequests] ADD  CONSTRAINT [DF_TournamentPairRequests_Status]  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[TournamentPairRequests] ADD  CONSTRAINT [DF_TournamentPairRequests_RequestedAt]  DEFAULT (sysdatetime()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[TournamentPrizes] ADD  CONSTRAINT [DF_TournamentPrizes_PrizeOrder]  DEFAULT ((1)) FOR [PrizeOrder]
GO
ALTER TABLE [dbo].[TournamentPrizes] ADD  CONSTRAINT [DF_TournamentPrizes_IsConfirmed]  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[TournamentPrizes] ADD  CONSTRAINT [DF_TournamentPrizes_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TournamentRegistrations] ADD  CONSTRAINT [DF_Reg_P1Level]  DEFAULT ((0)) FOR [Player1Level]
GO
ALTER TABLE [dbo].[TournamentRegistrations] ADD  CONSTRAINT [DF_Reg_P1Verified]  DEFAULT ((0)) FOR [Player1Verified]
GO
ALTER TABLE [dbo].[TournamentRegistrations] ADD  CONSTRAINT [DF_Reg_P2Level]  DEFAULT ((0)) FOR [Player2Level]
GO
ALTER TABLE [dbo].[TournamentRegistrations] ADD  CONSTRAINT [DF_Reg_P2Verified]  DEFAULT ((0)) FOR [Player2Verified]
GO
ALTER TABLE [dbo].[TournamentRegistrations] ADD  CONSTRAINT [DF_Reg_Points]  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[TournamentRegistrations] ADD  CONSTRAINT [DF_Reg_Paid]  DEFAULT ((0)) FOR [Paid]
GO
ALTER TABLE [dbo].[TournamentRegistrations] ADD  CONSTRAINT [DF_Reg_WaitingPair]  DEFAULT ((0)) FOR [WaitingPair]
GO
ALTER TABLE [dbo].[TournamentRegistrations] ADD  CONSTRAINT [DF_Reg_Success]  DEFAULT ((0)) FOR [Success]
GO
ALTER TABLE [dbo].[TournamentRegistrations] ADD  CONSTRAINT [DF_Reg_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TournamentRoundGroups] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TournamentRoundGroups] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TournamentRoundMaps] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TournamentRoundMaps] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tournaments] ADD  CONSTRAINT [DF_Tour_SingleLimit]  DEFAULT ((0)) FOR [SingleLimit]
GO
ALTER TABLE [dbo].[Tournaments] ADD  CONSTRAINT [DF_Tour_DoubleLimit]  DEFAULT ((0)) FOR [DoubleLimit]
GO
ALTER TABLE [dbo].[Tournaments] ADD  CONSTRAINT [DF_Tour_ExpectedTeams]  DEFAULT ((0)) FOR [ExpectedTeams]
GO
ALTER TABLE [dbo].[Tournaments] ADD  CONSTRAINT [DF_Tour_MatchesCount]  DEFAULT ((0)) FOR [MatchesCount]
GO
ALTER TABLE [dbo].[Tournaments] ADD  CONSTRAINT [DF_Tour_RegCount]  DEFAULT ((0)) FOR [RegisteredCount]
GO
ALTER TABLE [dbo].[Tournaments] ADD  CONSTRAINT [DF_Tour_PairedCount]  DEFAULT ((0)) FOR [PairedCount]
GO
ALTER TABLE [dbo].[Tournaments] ADD  CONSTRAINT [DF_Tour_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tournaments] ADD  CONSTRAINT [DF_Tournaments_GenderCategory]  DEFAULT ('OPEN') FOR [GenderCategory]
GO
ALTER TABLE [dbo].[Tournaments] ADD  CONSTRAINT [DF_Tournaments_Remove]  DEFAULT ((0)) FOR [Remove]
GO
ALTER TABLE [dbo].[UserAchievements] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserBlocks] ADD  CONSTRAINT [DF_UserBlocks_Source]  DEFAULT ('CHAT') FOR [Source]
GO
ALTER TABLE [dbo].[UserBlocks] ADD  CONSTRAINT [DF_UserBlocks_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserBlocks] ADD  CONSTRAINT [DF_UserBlocks_BlockedAt]  DEFAULT (sysdatetime()) FOR [BlockedAt]
GO
ALTER TABLE [dbo].[UserNotifications] ADD  CONSTRAINT [DF_UserNotifications_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[UserNotifications] ADD  CONSTRAINT [DF_UserNotifications_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserOtp] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[UserOtp] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [DF_UserRoles_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Verified]  DEFAULT ((0)) FOR [Verified]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClubMembers]  WITH CHECK ADD  CONSTRAINT [FK_ClubMembers_Clubs] FOREIGN KEY([ClubId])
REFERENCES [dbo].[Clubs] ([ClubId])
GO
ALTER TABLE [dbo].[ClubMembers] CHECK CONSTRAINT [FK_ClubMembers_Clubs]
GO
ALTER TABLE [dbo].[ClubMembers]  WITH CHECK ADD  CONSTRAINT [FK_ClubMembers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ClubMembers] CHECK CONSTRAINT [FK_ClubMembers_Users]
GO
ALTER TABLE [dbo].[ClubMessages]  WITH CHECK ADD  CONSTRAINT [FK_ClubMessages_Clubs] FOREIGN KEY([ClubId])
REFERENCES [dbo].[Clubs] ([ClubId])
GO
ALTER TABLE [dbo].[ClubMessages] CHECK CONSTRAINT [FK_ClubMessages_Clubs]
GO
ALTER TABLE [dbo].[ClubMessages]  WITH CHECK ADD  CONSTRAINT [FK_ClubMessages_Reply] FOREIGN KEY([ReplyToId])
REFERENCES [dbo].[ClubMessages] ([MessageId])
GO
ALTER TABLE [dbo].[ClubMessages] CHECK CONSTRAINT [FK_ClubMessages_Reply]
GO
ALTER TABLE [dbo].[ClubMessages]  WITH CHECK ADD  CONSTRAINT [FK_ClubMessages_Sender] FOREIGN KEY([SenderUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ClubMessages] CHECK CONSTRAINT [FK_ClubMessages_Sender]
GO
ALTER TABLE [dbo].[Clubs]  WITH CHECK ADD  CONSTRAINT [FK_Clubs_Owner] FOREIGN KEY([OwId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Clubs] CHECK CONSTRAINT [FK_Clubs_Owner]
GO
ALTER TABLE [dbo].[CourtImages]  WITH CHECK ADD  CONSTRAINT [FK_CourtImages_Courts] FOREIGN KEY([CourtId])
REFERENCES [dbo].[Courts] ([CourtId])
GO
ALTER TABLE [dbo].[CourtImages] CHECK CONSTRAINT [FK_CourtImages_Courts]
GO
ALTER TABLE [dbo].[ModerationReports]  WITH CHECK ADD  CONSTRAINT [FK_ModerationReports_Club] FOREIGN KEY([ClubId])
REFERENCES [dbo].[Clubs] ([ClubId])
GO
ALTER TABLE [dbo].[ModerationReports] CHECK CONSTRAINT [FK_ModerationReports_Club]
GO
ALTER TABLE [dbo].[ModerationReports]  WITH CHECK ADD  CONSTRAINT [FK_ModerationReports_Message] FOREIGN KEY([MessageId])
REFERENCES [dbo].[ClubMessages] ([MessageId])
GO
ALTER TABLE [dbo].[ModerationReports] CHECK CONSTRAINT [FK_ModerationReports_Message]
GO
ALTER TABLE [dbo].[ModerationReports]  WITH CHECK ADD  CONSTRAINT [FK_ModerationReports_ReporterUser] FOREIGN KEY([ReporterUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ModerationReports] CHECK CONSTRAINT [FK_ModerationReports_ReporterUser]
GO
ALTER TABLE [dbo].[ModerationReports]  WITH CHECK ADD  CONSTRAINT [FK_ModerationReports_ReviewedByUser] FOREIGN KEY([ReviewedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ModerationReports] CHECK CONSTRAINT [FK_ModerationReports_ReviewedByUser]
GO
ALTER TABLE [dbo].[ModerationReports]  WITH CHECK ADD  CONSTRAINT [FK_ModerationReports_TargetUser] FOREIGN KEY([TargetUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ModerationReports] CHECK CONSTRAINT [FK_ModerationReports_TargetUser]
GO
ALTER TABLE [dbo].[TournamentGroupMatches]  WITH CHECK ADD  CONSTRAINT [FK_TGM_Group] FOREIGN KEY([TournamentRoundGroupId])
REFERENCES [dbo].[TournamentRoundGroups] ([TournamentRoundGroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TournamentGroupMatches] CHECK CONSTRAINT [FK_TGM_Group]
GO
ALTER TABLE [dbo].[TournamentGroupMatches]  WITH CHECK ADD  CONSTRAINT [FK_TGM_RefereeUser] FOREIGN KEY([RefereeUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TournamentGroupMatches] CHECK CONSTRAINT [FK_TGM_RefereeUser]
GO
ALTER TABLE [dbo].[TournamentGroupMatches]  WITH CHECK ADD  CONSTRAINT [FK_TGM_Team1] FOREIGN KEY([Team1RegistrationId])
REFERENCES [dbo].[TournamentRegistrations] ([RegistrationId])
GO
ALTER TABLE [dbo].[TournamentGroupMatches] CHECK CONSTRAINT [FK_TGM_Team1]
GO
ALTER TABLE [dbo].[TournamentGroupMatches]  WITH CHECK ADD  CONSTRAINT [FK_TGM_Team2] FOREIGN KEY([Team2RegistrationId])
REFERENCES [dbo].[TournamentRegistrations] ([RegistrationId])
GO
ALTER TABLE [dbo].[TournamentGroupMatches] CHECK CONSTRAINT [FK_TGM_Team2]
GO
ALTER TABLE [dbo].[TournamentGroupMatches]  WITH CHECK ADD  CONSTRAINT [FK_TGM_Tournament] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournaments] ([TournamentId])
GO
ALTER TABLE [dbo].[TournamentGroupMatches] CHECK CONSTRAINT [FK_TGM_Tournament]
GO
ALTER TABLE [dbo].[TournamentGroupMatches]  WITH CHECK ADD  CONSTRAINT [FK_TGM_Winner] FOREIGN KEY([WinnerRegistrationId])
REFERENCES [dbo].[TournamentRegistrations] ([RegistrationId])
GO
ALTER TABLE [dbo].[TournamentGroupMatches] CHECK CONSTRAINT [FK_TGM_Winner]
GO
ALTER TABLE [dbo].[TournamentMatchScoreHistories]  WITH CHECK ADD  CONSTRAINT [FK_TMSH_Match] FOREIGN KEY([MatchId])
REFERENCES [dbo].[TournamentGroupMatches] ([MatchId])
GO
ALTER TABLE [dbo].[TournamentMatchScoreHistories] CHECK CONSTRAINT [FK_TMSH_Match]
GO
ALTER TABLE [dbo].[TournamentMatchScoreHistories]  WITH CHECK ADD  CONSTRAINT [FK_TMSH_RefereeUser] FOREIGN KEY([RefereeUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TournamentMatchScoreHistories] CHECK CONSTRAINT [FK_TMSH_RefereeUser]
GO
ALTER TABLE [dbo].[TournamentMatchScoreHistories]  WITH CHECK ADD  CONSTRAINT [FK_TMSH_WinnerRegistration] FOREIGN KEY([WinnerRegistrationId])
REFERENCES [dbo].[TournamentRegistrations] ([RegistrationId])
GO
ALTER TABLE [dbo].[TournamentMatchScoreHistories] CHECK CONSTRAINT [FK_TMSH_WinnerRegistration]
GO
ALTER TABLE [dbo].[TournamentPairRequests]  WITH CHECK ADD  CONSTRAINT [FK_TournamentPairRequests_Registration] FOREIGN KEY([RegistrationId])
REFERENCES [dbo].[TournamentRegistrations] ([RegistrationId])
GO
ALTER TABLE [dbo].[TournamentPairRequests] CHECK CONSTRAINT [FK_TournamentPairRequests_Registration]
GO
ALTER TABLE [dbo].[TournamentPairRequests]  WITH CHECK ADD  CONSTRAINT [FK_TournamentPairRequests_RequestedBy] FOREIGN KEY([RequestedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TournamentPairRequests] CHECK CONSTRAINT [FK_TournamentPairRequests_RequestedBy]
GO
ALTER TABLE [dbo].[TournamentPairRequests]  WITH CHECK ADD  CONSTRAINT [FK_TournamentPairRequests_RequestedTo] FOREIGN KEY([RequestedToUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TournamentPairRequests] CHECK CONSTRAINT [FK_TournamentPairRequests_RequestedTo]
GO
ALTER TABLE [dbo].[TournamentPairRequests]  WITH CHECK ADD  CONSTRAINT [FK_TournamentPairRequests_Tournament] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournaments] ([TournamentId])
GO
ALTER TABLE [dbo].[TournamentPairRequests] CHECK CONSTRAINT [FK_TournamentPairRequests_Tournament]
GO
ALTER TABLE [dbo].[TournamentPrizes]  WITH CHECK ADD  CONSTRAINT [FK_TournamentPrizes_Registration] FOREIGN KEY([RegistrationId])
REFERENCES [dbo].[TournamentRegistrations] ([RegistrationId])
GO
ALTER TABLE [dbo].[TournamentPrizes] CHECK CONSTRAINT [FK_TournamentPrizes_Registration]
GO
ALTER TABLE [dbo].[TournamentPrizes]  WITH CHECK ADD  CONSTRAINT [FK_TournamentPrizes_Tournament] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournaments] ([TournamentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TournamentPrizes] CHECK CONSTRAINT [FK_TournamentPrizes_Tournament]
GO
ALTER TABLE [dbo].[TournamentRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_Reg_P1User] FOREIGN KEY([Player1UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TournamentRegistrations] CHECK CONSTRAINT [FK_Reg_P1User]
GO
ALTER TABLE [dbo].[TournamentRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_Reg_P2User] FOREIGN KEY([Player2UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TournamentRegistrations] CHECK CONSTRAINT [FK_Reg_P2User]
GO
ALTER TABLE [dbo].[TournamentRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_Reg_Tournament] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournaments] ([TournamentId])
GO
ALTER TABLE [dbo].[TournamentRegistrations] CHECK CONSTRAINT [FK_Reg_Tournament]
GO
ALTER TABLE [dbo].[TournamentRoundGroups]  WITH CHECK ADD  CONSTRAINT [FK_TRG_RoundMap] FOREIGN KEY([TournamentRoundMapId])
REFERENCES [dbo].[TournamentRoundMaps] ([TournamentRoundMapId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TournamentRoundGroups] CHECK CONSTRAINT [FK_TRG_RoundMap]
GO
ALTER TABLE [dbo].[TournamentRoundMaps]  WITH CHECK ADD  CONSTRAINT [FK_TRM_Tournament] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournaments] ([TournamentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TournamentRoundMaps] CHECK CONSTRAINT [FK_TRM_Tournament]
GO
ALTER TABLE [dbo].[UserAchievements]  WITH CHECK ADD  CONSTRAINT [FK_UserAchievements_Tournament] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournaments] ([TournamentId])
GO
ALTER TABLE [dbo].[UserAchievements] CHECK CONSTRAINT [FK_UserAchievements_Tournament]
GO
ALTER TABLE [dbo].[UserAchievements]  WITH CHECK ADD  CONSTRAINT [FK_UserAchievements_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserAchievements] CHECK CONSTRAINT [FK_UserAchievements_User]
GO
ALTER TABLE [dbo].[UserBlocks]  WITH CHECK ADD  CONSTRAINT [FK_UserBlocks_BlockedUser] FOREIGN KEY([BlockedUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserBlocks] CHECK CONSTRAINT [FK_UserBlocks_BlockedUser]
GO
ALTER TABLE [dbo].[UserBlocks]  WITH CHECK ADD  CONSTRAINT [FK_UserBlocks_BlockerUser] FOREIGN KEY([BlockerUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserBlocks] CHECK CONSTRAINT [FK_UserBlocks_BlockerUser]
GO
ALTER TABLE [dbo].[UserBlocks]  WITH CHECK ADD  CONSTRAINT [FK_UserBlocks_Report] FOREIGN KEY([ReportId])
REFERENCES [dbo].[ModerationReports] ([ReportId])
GO
ALTER TABLE [dbo].[UserBlocks] CHECK CONSTRAINT [FK_UserBlocks_Report]
GO
ALTER TABLE [dbo].[UserBlocks]  WITH CHECK ADD  CONSTRAINT [FK_UserBlocks_SourceClub] FOREIGN KEY([SourceClubId])
REFERENCES [dbo].[Clubs] ([ClubId])
GO
ALTER TABLE [dbo].[UserBlocks] CHECK CONSTRAINT [FK_UserBlocks_SourceClub]
GO
ALTER TABLE [dbo].[UserBlocks]  WITH CHECK ADD  CONSTRAINT [FK_UserBlocks_SourceMessage] FOREIGN KEY([SourceMessageId])
REFERENCES [dbo].[ClubMessages] ([MessageId])
GO
ALTER TABLE [dbo].[UserBlocks] CHECK CONSTRAINT [FK_UserBlocks_SourceMessage]
GO
ALTER TABLE [dbo].[UserNotifications]  WITH CHECK ADD  CONSTRAINT [FK_UserNotifications_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserNotifications] CHECK CONSTRAINT [FK_UserNotifications_User]
GO
ALTER TABLE [dbo].[UserOtp]  WITH CHECK ADD  CONSTRAINT [FK_UserOtp_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserOtp] CHECK CONSTRAINT [FK_UserOtp_User]
GO
ALTER TABLE [dbo].[UserRatingHistory]  WITH CHECK ADD  CONSTRAINT [FK_UserRatingHistories_Tournaments] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournaments] ([TournamentId])
GO
ALTER TABLE [dbo].[UserRatingHistory] CHECK CONSTRAINT [FK_UserRatingHistories_Tournaments]
GO
ALTER TABLE [dbo].[UserRatingHistory]  WITH CHECK ADD  CONSTRAINT [FK_UserRatingHistory_RatedByUser] FOREIGN KEY([RatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRatingHistory] CHECK CONSTRAINT [FK_UserRatingHistory_RatedByUser]
GO
ALTER TABLE [dbo].[UserRatingHistory]  WITH CHECK ADD  CONSTRAINT [FK_UserRatingHistory_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRatingHistory] CHECK CONSTRAINT [FK_UserRatingHistory_User]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[ModerationReports]  WITH CHECK ADD  CONSTRAINT [CK_ModerationReports_ReasonCode] CHECK  (([ReasonCode]='OTHER' OR [ReasonCode]='SPAM_OR_SCAM' OR [ReasonCode]='SEXUAL_CONTENT' OR [ReasonCode]='VIOLENT_THREAT' OR [ReasonCode]='HATE_OR_HARASSMENT'))
GO
ALTER TABLE [dbo].[ModerationReports] CHECK CONSTRAINT [CK_ModerationReports_ReasonCode]
GO
ALTER TABLE [dbo].[ModerationReports]  WITH CHECK ADD  CONSTRAINT [CK_ModerationReports_ReportType] CHECK  (([ReportType]='MESSAGE' OR [ReportType]='USER'))
GO
ALTER TABLE [dbo].[ModerationReports] CHECK CONSTRAINT [CK_ModerationReports_ReportType]
GO
ALTER TABLE [dbo].[ModerationReports]  WITH CHECK ADD  CONSTRAINT [CK_ModerationReports_ResolutionAction] CHECK  (([ResolutionAction]='USER_BANNED' OR [ResolutionAction]='USER_EJECTED' OR [ResolutionAction]='USER_WARNED' OR [ResolutionAction]='MESSAGE_HIDDEN' OR [ResolutionAction]='NONE'))
GO
ALTER TABLE [dbo].[ModerationReports] CHECK CONSTRAINT [CK_ModerationReports_ResolutionAction]
GO
ALTER TABLE [dbo].[ModerationReports]  WITH CHECK ADD  CONSTRAINT [CK_ModerationReports_Status] CHECK  (([Status]='REJECTED' OR [Status]='RESOLVED' OR [Status]='UNDER_REVIEW' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[ModerationReports] CHECK CONSTRAINT [CK_ModerationReports_Status]
GO
ALTER TABLE [dbo].[TournamentGroupMatches]  WITH CHECK ADD  CONSTRAINT [CK_TGM_TeamsDifferent] CHECK  (([Team1RegistrationId]<>[Team2RegistrationId]))
GO
ALTER TABLE [dbo].[TournamentGroupMatches] CHECK CONSTRAINT [CK_TGM_TeamsDifferent]
GO
ALTER TABLE [dbo].[TournamentPairRequests]  WITH CHECK ADD  CONSTRAINT [CK_TournamentPairRequests_NotSelf] CHECK  (([RequestedByUserId]<>[RequestedToUserId]))
GO
ALTER TABLE [dbo].[TournamentPairRequests] CHECK CONSTRAINT [CK_TournamentPairRequests_NotSelf]
GO
ALTER TABLE [dbo].[TournamentPairRequests]  WITH CHECK ADD  CONSTRAINT [CK_TournamentPairRequests_Status] CHECK  (([Status]='EXPIRED' OR [Status]='CANCELED' OR [Status]='REJECTED' OR [Status]='ACCEPTED' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[TournamentPairRequests] CHECK CONSTRAINT [CK_TournamentPairRequests_Status]
GO
ALTER TABLE [dbo].[TournamentPrizes]  WITH CHECK ADD  CONSTRAINT [CK_TournamentPrizes_PrizeOrder] CHECK  (([PrizeOrder]>=(1)))
GO
ALTER TABLE [dbo].[TournamentPrizes] CHECK CONSTRAINT [CK_TournamentPrizes_PrizeOrder]
GO
ALTER TABLE [dbo].[TournamentPrizes]  WITH CHECK ADD  CONSTRAINT [CK_TournamentPrizes_PrizeType] CHECK  (([PrizeType]='THIRD' OR [PrizeType]='SECOND' OR [PrizeType]='FIRST'))
GO
ALTER TABLE [dbo].[TournamentPrizes] CHECK CONSTRAINT [CK_TournamentPrizes_PrizeType]
GO
ALTER TABLE [dbo].[Tournaments]  WITH CHECK ADD  CONSTRAINT [CK_Tournaments_GameType_GenderCategory] CHECK  ((upper([GameType])='SINGLE' AND ([GenderCategory]='WOMEN' OR [GenderCategory]='MEN' OR [GenderCategory]='OPEN') OR upper([GameType])='DOUBLE' AND ([GenderCategory]='MIXED' OR [GenderCategory]='WOMEN' OR [GenderCategory]='MEN' OR [GenderCategory]='OPEN')))
GO
ALTER TABLE [dbo].[Tournaments] CHECK CONSTRAINT [CK_Tournaments_GameType_GenderCategory]
GO
ALTER TABLE [dbo].[Tournaments]  WITH CHECK ADD  CONSTRAINT [CK_Tournaments_GenderCategory] CHECK  (([GenderCategory]='MIXED' OR [GenderCategory]='WOMEN' OR [GenderCategory]='MEN' OR [GenderCategory]='OPEN'))
GO
ALTER TABLE [dbo].[Tournaments] CHECK CONSTRAINT [CK_Tournaments_GenderCategory]
GO
ALTER TABLE [dbo].[UserAchievements]  WITH CHECK ADD  CONSTRAINT [CK_UserAchievements_Type] CHECK  (([AchievementType]='THIRD' OR [AchievementType]='SECOND' OR [AchievementType]='FIRST'))
GO
ALTER TABLE [dbo].[UserAchievements] CHECK CONSTRAINT [CK_UserAchievements_Type]
GO
ALTER TABLE [dbo].[UserBlocks]  WITH CHECK ADD  CONSTRAINT [CK_UserBlocks_NotSelf] CHECK  (([BlockerUserId]<>[BlockedUserId]))
GO
ALTER TABLE [dbo].[UserBlocks] CHECK CONSTRAINT [CK_UserBlocks_NotSelf]
GO
ALTER TABLE [dbo].[UserBlocks]  WITH CHECK ADD  CONSTRAINT [CK_UserBlocks_ReasonCode] CHECK  (([ReasonCode]='OTHER' OR [ReasonCode]='SPAM_OR_SCAM' OR [ReasonCode]='SEXUAL_CONTENT' OR [ReasonCode]='VIOLENT_THREAT' OR [ReasonCode]='HATE_OR_HARASSMENT'))
GO
ALTER TABLE [dbo].[UserBlocks] CHECK CONSTRAINT [CK_UserBlocks_ReasonCode]
GO
ALTER TABLE [dbo].[UserBlocks]  WITH CHECK ADD  CONSTRAINT [CK_UserBlocks_Source] CHECK  (([Source]='SYSTEM' OR [Source]='ADMIN' OR [Source]='PROFILE' OR [Source]='CHAT'))
GO
ALTER TABLE [dbo].[UserBlocks] CHECK CONSTRAINT [CK_UserBlocks_Source]
GO
USE [master]
GO
